playground/dify/outputs/test_workflow.yaml
app:
  description: 用于测试DifyParser
  icon: 🚀
  icon_background: '#FFE5E5'
  mode: workflow
  name: 测试工作流
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - id: start-source-ai-target
      type: custom
      source: start
      target: ai
      sourceHandle: source
      targetHandle: target
      data:
        isInLoop: false
        sourceType: start
        targetType: llm
      zIndex: 0
    - id: ai-source-end-target
      type: custom
      source: ai
      target: end
      sourceHandle: source
      targetHandle: target
      data:
        isInLoop: false
        sourceType: llm
        targetType: end
      zIndex: 0
    nodes:
    - id: start
      type: custom
      position:
        x: 50.0
        y: 200.0
      positionAbsolute:
        x: 50.0
        y: 200.0
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 54
      selected: false
      data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 系统输入
          max_length: 48000
          options: []
          required: true
          type: text-input
          variable: sys_input
    - id: ai
      type: custom
      position:
        x: 300.0
        y: 200.0
      positionAbsolute:
        x: 300.0
        y: 200.0
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 54
      selected: false
      data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.8
          mode: chat
          name: gpt-4
          provider: openai
        prompt_template:
        - role: system
          text: 你是一个智能助手
        selected: false
        structured_output: null
        structured_output_enabled: false
        title: AI处理
        type: llm
        variables: []
        vision:
          enabled: false
    - id: end
      type: custom
      position:
        x: 550.0
        y: 200.0
      positionAbsolute:
        x: 550.0
        y: 200.0
      sourcePosition: right
      targetPosition: left
      width: 244
      height: 54
      selected: false
      data:
        desc: ''
        outputs: []
        selected: false
        title: 结束
        type: end
    viewport:
      x: 0.0
      y: 0.0
      zoom: 1.0
